/* For logo: */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
.friends-list-modal {
    background-color: #FBFBFB;
    /* padding: 8rem; */
    /* border-radius: 10px; */
    position: relative;
    max-width: 1300px;
    /* margin: auto; */
    margin-top: 6rem;
    align-items: flex-start;
    overflow-y: auto;
    z-index: 1000;
}

.back-button {
    position: relative;
    top: 0rem;
    left: 0rem;
    background: #DD1155;
    /* width: 50px; */
    padding: 0.6rem 1rem;
    background-color: #DD1155;
    color: white;
    border: none;
    border-radius: 100px;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.close-friend-list:hover {
    background-color: #ff71a0;
}

.friends-list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    overflow: hidden;
}

.scrollable-list {
    flex: 1;
    overflow-y: auto;
    padding-top: 8px;
    box-sizing: border-box;
}

.friends-column {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 70vh;
}

.request-section {
    flex: 1;
    overflow-y: auto;
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 8px;
}

.friend-search-bar {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 100px;
    border: 1px solid #ccc;
    color:black
}

.friend-cards-container, .user-cards-container  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.header-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

#can-go {
    color: #DD1155;
    font-family: "Outfit", sans-serif;
    font-size: 30px;
}


